---
- name: Pārbaudīt, vai master jau pievienots
  stat:
    path: /etc/kubernetes/kubelet.conf
  register: kubelet_conf

- name: Pievienot pārējos master mezglus
  shell: "{{ hostvars['master1'].join_cmd_master | trim }}"  # Izmantojiet 'trim' filtru, lai noņemtu liekas atstarpes/jaunas rindas
  when: kubelet_conf.stat.exists == false

# Izveidot .kube direktoriju wolf lietotājam
- name: Izveidot ~/.kube direktoriju
  become: yes
  file:
    path: /home/wolf/.kube
    state: directory
    owner: wolf
    group: wolf
    mode: '0755'

# Kopēt kubeconfig uz wolf profilu
- name: Kopēt kubeconfig uz wolf profilu
  become: yes
  command: cp /etc/kubernetes/admin.conf /home/wolf/.kube/config

# Labot faila īpašnieku un tiesības
- name: Labot faila īpašnieku un tiesības
  become: yes
  file:
    path: /home/wolf/.kube/config
    owner: wolf
    group: wolf
    mode: '0600'