# 1. VISPĀRĒJIE IESTATĪJUMI
service:
  enabled: true
  type: LoadBalancer
  annotations:
    metallb.universe.tf/allow-shared-ip: "k8s-shared-vip"
  spec:
    loadBalancerIP: 192.168.4.190

providers:
  kubernetesIngress:
    enabled: true
    publishedService:
      enabled: true

# 2. CRD IESTATĪJUMI
# Svarīgi, lai varētu izmantot Traefik Custom Resource Definitions (TLSStore, Middleware).
crds:
  enabled: true

# 3. HELM NODALĪJUMU TĪRĪŠANA
# Šis bloks tiek atstāts tukšs, jo tiks izmantots TLSStore CRD.
defaultCert: {}

# 4. ENTRYPOINTS DEFINĪCIJA (HTTP -> HTTPS pāradresācija)
entryPoints:
  web:
    address: ":80"
    # HTTP -> HTTPS Pāradresācijas noteikumi
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true # 301 statuss

  websecure:
    address: ":443"
    tls:
      enabled: true

# 5. RBAC un Kubernetes atbalsts
rbac:
  enabled: true

# Global Arguments paliek tukši, jo EntryPoints ir definēti augstāk
globalArguments: {}