service:
  enabled: true
  type: LoadBalancer
  annotations:
    metallb.universe.tf/allow-shared-ip: "k8s-shared-vip" 
  spec:
    loadBalancerIP: 192.168.4.190 

providers:
  kubernetesIngress:
    enabled: true

tls:
  enabled: true

globalArguments:
  - --entrypoints.web.address=:80
  - --entrypoints.websecure.address=:443
  - --entrypoints.websecure.tls.defaultcertificate.secretname=iloto-wildcard-tls
  - --entrypoints.websecure.tls.defaultcertificate.namespace=traefik
  - --entrypoints.web.http.redirections.entrypoint.to=:443
  - --entrypoints.web.http.redirections.entrypoint.scheme=https
  - --entrypoints.web.http.redirections.entrypoint.permanent=true