---
- name: Pārbaudīt, vai worker jau pievienots
  stat:
    path: /etc/kubernetes/kubelet.conf
  register: kubelet_conf_worker

# - name: Pievienot worker mezglus
#   command: "{{ hostvars['master1'].join_cmd_worker }}"
#   when: kubelet_conf_worker.stat.exists == false

# - name: Pievienot worker mezglus
#   shell: "{{ hostvars['master1'].join_cmd_worker | trim }}"  # Izmantojiet 'trim' filtru, lai noņemtu liekas atstarpes/jaunas rindas
#   when: kubelet_conf_worker.stat.exists == false

- name: Pievienot worker mezglus
  ansible.builtin.shell: "{{ hostvars['master1'].join_cmd_worker | replace('\\n', ' ') | trim }}"
  args:
    executable: /bin/bash # Ieteicams sarežģītām shell komandām
  register: join_output
  changed_when: join_output.rc == 0
  # Ja vēlaties ignorēt kļūdu un turpināt:
  # ignore_errors: yes 
  when: kubelet_conf_worker.stat.exists == false