---
- name: Pārbaudīt, vai worker jau pievienots
  stat:
    path: /etc/kubernetes/kubelet.conf
  register: kubelet_conf_worker

- name: Pievienot worker mezglus
  command: "{{ hostvars['master1'].join_cmd_worker }}"
  when: kubelet_conf_worker.stat.exists == false
